{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<br><br><br><br><br>
<center><h1 style="font-size:20px;"> EDITAR EMPLEADO </h1></center>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <center><h2 style="font-size: 20px">FORMULARIO</h2></center><br>
    <form action="/procesar_actualizacion_empleado/" method="post" enctype="multipart/form-data" id="frm_editar_empleado"><br>
      {% csrf_token %}
      <input type="hidden" name="Legajo" value="{{ empleado.Legajo }}">
      <div class="form-group row">
        <label for="Apellido" class="col-sm-2 col-form-label"><b class="b">APELLIDO:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <input type="text" name="Apellido" id="Apellido" value="{{ empleado.Apellido }}" placeholder="Ingrese el apellido" class="form-control">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Nombre" class="col-sm-2 col-form-label"><b class="b">NOMBRE:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <input type="text" name="Nombre" id="Nombre" value="{{ empleado.Nombre }}" placeholder="Ingrese el nombre" class="form-control">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="T_doc" class="col-sm-2 col-form-label"><b class="b">TIPO DOCUMENTO:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <input type="text" name="T_doc" id="T_doc" value="{{ empleado.T_doc }}" placeholder="Ingrese el tipo de documento" class="form-control">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Numero" class="col-sm-2 col-form-label"><b class="b">NUMERO:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <input type="text" name="Numero" id="Numero" value="{{ empleado.Numero }}" placeholder="Ingrese el número de documento" class="form-control">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Est_Civil" class="col-sm-2 col-form-label"><b class="b">ESTADO CIVIL:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <input type="text" name="Est_Civil" id="Est_Civil" value="{{ empleado.Est_Civil }}" placeholder="Ingrese el estado civil" class="form-control">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Edad" class="col-sm-2 col-form-label"><b class="b">EDAD:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <input type="number" name="Edad" id="Edad" value="{{ empleado.Edad }}" placeholder="Ingrese la edad" class="form-control">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Fec_de_Nac" class="col-sm-2 col-form-label"><b class="b">FECHA DE NACIMIENTO:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <input type="date" name="Fec_de_Nac" id="Fec_de_Nac" value="{{ empleado.Fec_de_Nac }}" class="form-control">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Nacionalidad" class="col-sm-2 col-form-label"><b class="b">NACIONALIDAD:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <input type="text" name="Nacionalidad" id="Nacionalidad" value="{{ empleado.Nacionalidad }}" placeholder="Ingrese la nacionalidad" class="form-control">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Religion" class="col-sm-2 col-form-label"><b class="b">RELIGIÓN:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <select name="Religion" id="Religion" class="form-control">
            {% for religion in religion %}
              <option value="{{ religion.Religion_ID }}" {% if religion.Religion_ID == empleado.Religion_id %}selected{% endif %}>{{ religion.RELIGION }}</option>
            {% endfor %}
          </select>
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Categoria" class="col-sm-2 col-form-label"><b class="b">CATEGORÍA:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <select name="Categoria" id="Categoria" class="form-control">
            {% for categoria in categoria %}
              <option value="{{ categoria.Categoria_ID }}" {% if categoria.Categoria_ID == empleado.Categoria_id %}selected{% endif %}>{{ categoria.Categoria }}</option>
            {% endfor %}
          </select>
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Sucursal" class="col-sm-2 col-form-label"><b class="b">SUCURSAL:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <select name="Sucursal" id="Sucursal" class="form-control">
            {% for sucursal in sucursal %}
              <option value="{{ sucursal.Sucursal_ID }}" {% if sucursal.Sucursal_ID == empleado.Sucursal_id %}selected{% endif %}>{{ sucursal.Sucursal }}</option>
            {% endfor %}
          </select>
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Convenio" class="col-sm-2 col-form-label"><b class="b">CONVENIO:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <select name="Convenio" id="Convenio" class="form-control">
            {% for convenio in convenio %}
              <option value="{{ convenio.Convenio_ID }}" {% if convenio.Convenio_ID == empleado.Convenio_id %}selected{% endif %}>{{ convenio.Nombre_del_convenio }}</option>
            {% endfor %}
          </select>
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Lugar_Trabajo" class="col-sm-2 col-form-label"><b class="b">LUGAR DE TRABAJO:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <select name="Lugar_Trabajo" id="Lugar_Trabajo" class="form-control">
            {% for lugar_trabajo in lugar_trabajo %}
              <option value="{{ lugar_trabajo.Id_Lugar_Trabajo }}" {% if lugar_trabajo.Id_Lugar_Trabajo == empleado.Lugar_Trabajo_id %}selected{% endif %}>{{ lugar_trabajo.Nombre_Lugar_Trabajo }}</option>
            {% endfor %}
          </select>
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Departamento" class="col-sm-2 col-form-label"><b class="b">DEPARTAMENTO:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <select name="Departamento" id="Departamento" class="form-control">
            {% for departamento in departamento %}
              <option value="{{ departamento.Departamento_ID }}" {% if departamento.Departamento_ID == empleado.Departamento_id %}selected{% endif %}>{{ departamento.Departamento }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <br><br>
      <center>
        <button type="submit" name="button" class="btn btn-primary"> Actualizar </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/vista_empleado" class="btn btn-danger"> Cancelar </a>
      </center>
    </form>
  </div>
  <div class="col-md-3">
  </div>
</div>
<br><br><br><br>
{% endblock %}
