{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<br><br><br><br><br>
<center><h1 style="font-size:20px;"> EDITAR SUCURSAL </h1></center>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <center><h2 style="font-size: 20px">FORMULARIO</h2></center><br>
    <form action="/procesar_actualizacion_sucursal/" method="post" enctype="multipart/form-data" id="frm_editar_sucursal"><br>
      {% csrf_token %}
      <input type="hidden" name="Sucursal_ID" value="{{ sucursal.Sucursal_ID }}">
      <div class="form-group row">
        <label for="Sucursal" class="col-sm-2 col-form-label"><b class="b">SUCURSAL:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <input type="text" name="Sucursal" id="Sucursal" value="{{ sucursal.Sucursal }}" placeholder="Ingrese una sucursal" class="form-control">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="Nombre_oficina" class="col-sm-2 col-form-label"><b class="b">OFICINA:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <input type="text" name="Nombre_oficina" id="Nombre_oficina" value="{{ sucursal.Nombre_oficina }}" placeholder="Ingrese el nombre de la oficina" class="form-control">
        </div>
      </div>
      <br><br>
      <center>
        <button type="submit" name="button" class="btn btn-primary"> Actualizar </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/vista_sucursal" class="btn btn-danger"> Cancelar </a>
      </center>
    </form>
  </div>
  <div class="col-md-3">
  </div>
</div>
<br><br><br><br>
{% endblock %}
