{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<br><br><br><br><br>
<center><h1 style="font-size:20px;"> EDITAR LUGAR DE TRABAJO </h1></center>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <center><h2 style="font-size: 20px">FORMULARIO</h2></center><br>
    <form action="/procesar_actualizacion_lugar_trabajo/" method="post" enctype="multipart/form-data" id="frm_editar_lugar_trabajo"><br>
      {% csrf_token %}
      <input type="hidden" name="Id_Lugar_Trabajo" value="{{ lugar_trabajo.Id_Lugar_Trabajo }}">
      <div class="form-group row">
        <label for="Nombre_Lugar_Trabajo" class="col-sm-2 col-form-label"><b class="b">LUGAR DE TRABAJO:</b></label>
        <div style="padding-left: 50px;" class="col-sm-10">
          <input type="text" name="Nombre_Lugar_Trabajo" id="Nombre_Lugar_Trabajo" value="{{ lugar_trabajo.Nombre_Lugar_Trabajo }}" placeholder="Ingrese el nombre del lugar de trabajo" class="form-control">
        </div>
      </div>
      <br><br>
      <center>
        <button type="submit" name="button" class="btn btn-primary"> Actualizar </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/vista_lugar_trabajo" class="btn btn-danger"> Cancelar </a>
      </center>
    </form>
  </div>
  <div class="col-md-3">
  </div>
</div>
<br><br><br><br>
{% endblock %}
